$bodyBG: none;
$image1: "../img/m-h-day.jpg";
$FontColor: #2c2f3c;
$HeaderButtonColor: #699900;
$BGSection:#21232e;
$FirstColorForGradient: #699900;
$SecondColorForGradient: rgb(44,90,218);
$Highlight: rgb(20,160,199);
$fonts:(
    primary:('Source Sans Pro', sans-serif),
    secondy:('Hind', sans-serif),
    thirdly:('Fresca', sans-serif)
);