$bodyBG: #21232e;
$image1: "../img/m-h-night.jpg";
$FontColor: #ffffff;
$HeaderButtonColor: #e3ac00;
$BGSection:#3b3f50;
$FirstColorForGradient: #e3ac00;
$SecondColorForGradient: rgb(147,46,81);
$Highlight: rgb(255,78,51);
$fonts:(
    primary:('Source Sans Pro', sans-serif),
    secondy:('Hind', sans-serif),
    thirdly:('Fresca', sans-serif)
);